<template>
  <v-app>
    <v-toolbar fixed app>
      <v-toolbar-title><img class="mt-3" src="img/ChildInCrowdLogo.png" style="height: 2.5em;" /></v-toolbar-title>
      <!-- <v-spacer></v-spacer>
      <div class="nav-menu singlepage-nav">
          <ul class="nav-menu-inner">
              <li><a href="#intro">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#examples">How does it work?</a></li>
              <li><a href="#contact-us">Contact</a></li>
          </ul>
      </div> -->
    </v-toolbar>
    <v-content>
      <v-container fluid>
          <v-layout column align-center align-content-center justify-center>
            <v-flex v-if="!hasToken" class="mb-3" xs12 sm12 text-xs-center>
              <div>
                <img style="height: 100%; width: 35%;" src="img/ChildInCrowdLogo.png" class="img-fluid" alt="Responsive image">
              </div>
              <h1>Child in Crowd Online Interface</h1>
              <h3>To use this interfaces you will need to:</h3>
              <h4>1. Create your own Child in Crowd processing unit (backend service) from the <a target="_blank" href="https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:256572818498:applications~ChildInCrowd">AWS Serverless Application Repository</a></h4>
              <h4>2. User your own API URL enpoint obtained from the serverless application deployment. You can optionally add security to your endpoint by activating an API Key for you endpoint</h4>
              <h4>3. Once you enter this information your Child in Crowd instance will be fully functional. Remember that the AWS related costs will be charged to your account.</h4>
            </v-flex>
            <v-flex v-if="!hasToken" xs12 sm12 text-xs-center>
              <v-text-field
                :append-icon="showToken ? 'visibility_off' : 'visibility'"
                @click:append="showToken = !showToken"
                :type="showToken ? 'text' : 'password'"
                v-model="endpoint"
                label="Please enter your API endpoint"
                single-line
                outline
                style="width: 500px;"
              ></v-text-field>
              <v-text-field
                :append-icon="showToken ? 'visibility_off' : 'visibility'"
                @click:append="showToken = !showToken"
                :type="showToken ? 'text' : 'password'"
                v-model="token"
                label="Please enter your API token"
                single-line
                outline
                style="width: 500px;"
              ></v-text-field>
              <v-btn class="primary" @click="hasToken = true">Set API Information</v-btn>
            </v-flex>
            <v-flex v-if="hasToken" xs12 sm12 text-xs-center>
              <vue-webcam :width=800 :height=600 v-show="!loading && !temporalShow && !warning" ref='webcam'></vue-webcam>
              <br>
              <!-- <img :src="photo" alt="" style="width:500px;height:500px" /> -->
              <div v-show="loading" style="margin-top: 120px; margin-bottom: 120px;">
                <v-progress-circular
                  :size="160"
                  :width="10"
                  color="black"
                  indeterminate
                  class="mt-5 mb-5"
                ></v-progress-circular>
              </div>
              <div v-show="temporalShow && receptionImage || warning">
                <v-layout align-content-center justify-center wrap> 
                  <v-flex class="mr-2 ml-2" v-for="child in children" :key="child.number" xs4 sm4 lg4 justify-center>
                    <v-card :color="messageBackColor(child.message)" class="white--text">
                      <v-layout>
                        <v-flex xs12>
                          <v-card-title primary-title>
                            <div>
                              <div class="display-1 text-xs-center"><u>{{child.childNumber}}</u>{{' '}}{{child.message}}</div>
                            </div>
                          </v-card-title>
                        </v-flex>
                      </v-layout>
                    </v-card>
                    <div class="text-xs-center">
                      <v-dialog v-show="warning" v-model="dialog" width="600">
                        <v-btn slot="activator" color="yellow darken-1" dark class="mb-2 mt-3">
                          See Child's Entry Image
                        </v-btn>

                        <v-card>
                          <v-card-title class="headline grey lighten-2" primary-title>
                            Child's Entry Image
                          </v-card-title>

                          <v-card-text class="text-xs-center">
                            <img :src="child.checkInImageUrl" alt="Chekin Image" style="width: auto; height: 400px;">
                          </v-card-text>

                          <v-divider></v-divider>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" flat @click="dialog = false">Close</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                      <v-dialog v-show="warning" v-model="dialogDismiss" width="600">
                        <v-btn slot="activator" color="red lighten-1" dark class="mb-2">
                          Dismiss Warning
                        </v-btn>

                        <v-card>
                          <v-card-title class="headline grey lighten-2" primary-title>
                            Dismiss Warning?
                          </v-card-title>

                          <v-card-text class="text-xs-center">
                            <v-btn color="red" flat @click="dismissWarning()">Dismiss Warning</v-btn>
                          </v-card-text>

                          <v-divider></v-divider>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red" flat @click="dialogDismiss = false">Close</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </div>
                  </v-flex>
                </v-layout>
                <img class="mt-2" :src="receptionImage" alt="Reception Image" style="width: auto; height: 500px;">
              </div>
              <div v-show="!receptionImage && temporalShow" style="margin-top: 180px; margin-bottom: 180px;">
                  <h1 style="text-align: center; background-color: #ffc107; color: white; padding: 20px; font-size: 35pt; width: 600px;">{{ errorMessage }}</h1>
              </div>
              <v-btn v-show="!loading && !temporalShow && !warning" class="mt-4" color="success" @click="checkInOrCheckOut">Check-In / Check-Out</v-btn>
            </v-flex>
          </v-layout>
      </v-container>
    </v-content>
    <v-footer app>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
import VueWebcam from 'vue-webcam' // (set 500 by 500 in defaults) If this component does not work, change line 6 in node_modules VueWebcam.js https://github.com/smronju/vue-webcam/issues/6
const axios = require('axios');
const uuidv4 = require('uuid/v4');

  export default {
    components: { VueWebcam },
    data () {
      return {
        photo: null,
        title: '',
        hasToken: false,
        token: '',
        showToken: false,
        loading: false,
        children: [],
        warning: false,
        errorMessage: null,
        dialog: false,
        dialogDismiss: false,
        apiResponse: {},
        temporalShow: false,
        receptionImage: null,
        endpoint: null,
        getSignedUrlEndpoint: null,
        checkChildEndpoint: null
      }
    },
    watch: {
      endpoint: function (newEnpoint, oldEndpoint) {
        this.getSignedUrlEndpoint = newEnpoint + 'get-signed-url'
        this.checkChildEndpoint = newEnpoint + 'check-child'
      }
    },
    methods: {
      dismissWarning () {
        this.warning = false
        this.dialogDismiss = false
      },
      messageBackColor(message) {
        switch (message) {
          case 'Welcome!':
            return 'blue darken-3'
            break;
          case 'Warning!':
            return 'yellow darken-1'
            break;
          case 'Good Bye!':
            return 'green darken-3'
            break;
          default:
            return 'white'
        }
      },
      checkInOrCheckOut () {
        // Here I will call the API sending the photo
        const requestImageNameUUID = {
          imageUID: uuidv4()
        }
        this.photo = this.$refs.webcam.getPhoto()
        const b64toBlob = (b64Data, contentType='image/jpeg', sliceSize=512) => {
          const byteCharacters = atob(b64Data);
          const byteArrays = [];
          
          for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            const slice = byteCharacters.slice(offset, offset + sliceSize);
            
            const byteNumbers = new Array(slice.length);
            for (let i = 0; i < slice.length; i++) {
              byteNumbers[i] = slice.charCodeAt(i);
            }
            
            const byteArray = new Uint8Array(byteNumbers);
            
            byteArrays.push(byteArray);
          }
          
          const blob = new Blob(byteArrays, {type: contentType});
          return blob;
        }
        const file = b64toBlob(this.photo.replace(/^data:image\/[a-z]+;base64,/, ""))
        var config = {
          headers: {
            'x-api-key': this.token,
            // 'Content-Type': 'application/octet-stream'
            'Content-Type': 'application/json',
            // 'Content-Type': 'text/plain',
          }
        }
        // console.log('Here the image as taking aout annotations: ', this.photo)
        console.log('I am being called!. Here the check in check out!')
        this.loading = true
        console.log('Here the image name payload: ', requestImageNameUUID)

        axios.post(this.getSignedUrlEndpoint, requestImageNameUUID.imageUID, config)
          .then(res => {
            console.log('Response from AWS signed: ', res)
            console.log('Here the file to be send: ', file)
            var config = {
              headers: {
                'Content-Type': file.type
              }
            };
            return axios.put(res.data.singedS3Url, file, config);
          })
          .then(res => {
            console.log('Here the response from S3: ', res)
            var config = {
              headers: {
                'x-api-key': this.token,
                // 'Content-Type': 'application/octet-stream'
                'Content-Type': 'application/json',
                // 'Content-Type': 'text/plain',
              }
            }
            return axios.post(this.checkChildEndpoint, requestImageNameUUID.imageUID, config)
          })
          .then(res => {
            console.log('Here the response from DetectFAces: ', res)
            console.log('Here the response.data: ', res.data)
            console.log('Here the response.data.reception: ', res.reception)
            this.loading = false
            this.temporalShow = true
            if (res.data.reception) {
              this.apiResponse = res.data.reception
              console.log('Here the internal API response: ', this.apiResponse)
              this.receptionImage = this.apiResponse.imageUrl ? this.apiResponse.imageUrl : false
              console.log('Here the image URL: ', this.receptionImage)
              // Remember children can also be messages to the user
              this.children = this.apiResponse.children ? this.apiResponse.children : false
              this.errorMessage = this.apiResponse.errorMessage ? this.apiResponse.errorMessage : 'An error happened. Please try again.'
              // If there are children, we check is there is a warning in order to activate a button
              if (this.children) {
                this.children.map(val => {
                  if (val.message === 'Warning!') {
                    this.warning = true
                  }
                })
              }
            }
            // Then depending on the response I will show a message to the users
            setTimeout(() => { 
              this.temporalShow = false
            }, 6000);  
          })
          .catch((error) => {
            this.errorMessage = 'An error happened. Please try again.'
            this.loading = false
            setTimeout(() => {
              this.temporalShow = false
            }, 6000);  
            // TODO: Here I need to handle the error in the interface
            console.log('An error happened: ', error)
          })      
      }
    }
  }
</script>
