.device-wrapper.deviceOne .screen {
    background-image: url(../img/device/deviceOne.gif);
    background-position: center;
}

.device-wrapper.deviceTwo .screen {
    background-image: url(../img/device/deviceTwo_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceTwo_presentation .screen {
    background-image: url(../img/device/deviceTwo_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceThree .screen {
    background-image: url(../img/device/deviceThree_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceThree_presentation .screen {
    background-image: url(../img/device/deviceThree_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceFour .screen {
    background-image: url(../img/device/deviceFour_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceFour_presentation .screen {
    background-image: url(../img/device/deviceFour_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceFive .screen {
    background-image: url(../img/device/deviceFive_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceFive_presentation .screen {
    background-image: url(../img/device/deviceFive_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceSix .screen {
    background-image: url(../img/device/deviceSix_presentation.gif);
    background-position: center;
}

.device-wrapper.deviceSix_presentation .screen {
    background-image: url(../img/device/deviceSix_presentation.gif);
    background-position: center;
}
